
html,
body {
    background: #FFFFFF;
    font-family: Montserrat;
    font-weight: 400;
    size: 16px;
    line-height: 1.55;
    width: 100%;
    
}


.header {
   max-width: 100%;
   height: 80px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 17px auto;
    width: 1200px;
    height: 46px;
    gap: 142px
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    list-style-type: none;
}

.menu__item a {
    text-decoration: none;
    color: #2F281E;

}  

.btn {
    display: flex;
    gap: 44px;
    
}

.btn button {
    color: #2F281E;
    height: 46px;
    background: #ffffff;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 25px;
    line-height: 19px;
       
}

.btn button:hover {
    color: white;
    background: orange;
}

.menu__item:hover a {
    color: orange;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 100px auto;
    padding: 0px;
    gap: 56px;
    
}

.description h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;

}

.description p {
    font-size: 18px;
    line-height: 28px;
    color: #544837;
}

button {

    padding: 13px 40px;
    color:#ffffff;
    background: #FF9900;
    border-radius: 4px;
    font-weight: 700;
    border: none;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    text-align:left;
    background: url(../assets/img/background.png) bottom no-repeat ;
    background-size: cover;
    ;
    

}

.features h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    
    color: #2F281E;
}

 .features button {
    display: flex;
    align-items: center;
    margin-bottom: 74px;
 }

 hr {
    background: rgba(188, 208, 229, 0.496913);
 }

 .footer {
    display: flex;
    justify-content: space-between;
    margin: 70px auto;
    width: 1200px;
 }

 .list {
    list-style-type: none;
    text-align: left;
    padding: 0;

 }

 .list li {
    margin-top: 30px;
 }

 .list a {
    text-decoration: none;
    color: #544837;
 }

 .links li {
    margin-bottom: 15px;
 }

 .footer_links p {
    margin-bottom: 30px;
    margin-top: 0;
 }

 .footer_links p, .form label {
    font-size: 20px;
    font-weight: 700;
 }

 .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
 }

 .form input {
    padding: 15px;
    width: 340px;
 }

 .product_manager {
    display: flex;
 }

 .product_manager .img {
    order: -1
 }

 .list img {
    float: left;
    margin-right: 30px;
 }

 .clear {
    clear: both;
 }

 .benefits .description {
    width: 525px;
 }

 .product_manager .description {
    width: 505px;
 }

 .marketers .description {
    width: 485px;
 }



